body{
    text-align: center;
    background-color: rgb(169, 248, 79);
}
#raj_info{
    text-align: center;
    text-decoration-color: rgb(0, 0, 0);
}
#rajsthan{
    background-color: rgb(235, 255, 58);
}